.home-section .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-section .text-column {
    flex: 1;
    text-align: left;
    position: absolute;
}

.home-section .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.home-section .subtitle {
    color: #F27B35;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

.home-section .buttons {
    margin-top: 60px;
}

.home-section .image-column {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-right: -50px;
}

.home-section .image-column img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) and (orientation: portrait) {
    .home-section .content {
        flex-direction: column;
        align-items: center;
    }

    .home-section .text-column {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }

    .home-section .image-column {
        margin-top: 0;
        margin-right: 0;
    }

    .home-section .image-column img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .home-section .title {
        font-size: 2.5rem;
    }

    .home-section .subtitle {
        font-size: 1.25rem;
    }

    .home-section .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .home-section .btn {
        margin: 10px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .home-section .title {
        font-size: 2.4rem;
    }

    .home-section .subtitle {
        font-size: 1.1rem;
    }

    .home-section .content {
        width: 100%;
    }

    .home-section .image-column {
        margin-right: -50px;
        margin-top: -10px;
    }

    .home-section .image-column img {
        height: 80vh;
        width: auto;
    }
}

@media (min-width: 1200px) {
    .home-section .title {
        font-size: 3.8rem;
    }

    .home-section .subtitle {
        font-size: 1.9rem;
    }

    .home-section .image-column {
        margin-right: 0px;
        margin-top: -10px;
    }

    .home-section .image-column img {
        max-width: 650px;
        height: 70vh;
        width: auto;
    }
}