@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #222831;
  color: white;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 60px 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav a:hover {
  color: #ff7f50;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.text-column {
  flex: 1;
  text-align: left;
  position: absolute;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  color: #F27B35;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 9px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.hire-me {
  background-color: #F27B35;
  color: white;
}

.hire-me:hover {
  background-color: #F27B35;
}

.download-cv {
  background-color: #393E46;
  color: white;
}

.download-cv:hover {
  background-color: #555;
}

.image-column {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  margin-right: -50px;
}

.image-column img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) and (orientation: portrait) {
  body {
    font-size: 14px;
  }

  .app {
    margin: 0 20px;
  }

  .nav {
    display: none;
    flex-direction: column;
    background-color: #222831;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .nav.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .text-column {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }

  .image-column {
    margin-top: 0;
    margin-right: 0;
  }

  .image-column img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .btn {
    margin: 10px;
  }

  .logo {
    font-size: 1rem;
  }

  .nav a {
    font-size: 0.875rem;
    margin: 10px 0;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  body {
    font-size: 14px;
  }

  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 0.9rem;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .content {
    width: 100%;
  }

  .image-column {
    margin-right: -50px;
    margin-top: -10px;
  }

  .image-column img {
    height: 80vh;
    width: auto;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  .title {
    font-size: 4.1rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .nav a {
    font-size: 1rem;
  }

  .content {
    width: 100%;
  }

  .image-column {
    margin-right: -50px;
    margin-top: -10px;
  }

  .image-column img {
    max-width: 550px;
    height: 80vh;
    width: auto;
  }
}