.my-expertise-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.my-expertise-section .title {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
}

.my-expertise-section .boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 20px;
  width: 100%;
}

.my-expertise-section .box {
  color: white;
  padding: 40px;
  flex: 1 1 300px;
  max-width: 60%;
  box-sizing: border-box;
  text-align: left;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
}

.my-expertise-section .box .header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.my-expertise-section .box .header .icon {
  font-size: 2.6rem;
}

.my-expertise-section .box h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #fff;
}

.line-with-text {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.my-expertise-section .box p {
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.my-expertise-section .highlight {
  color: #F27B35;
}

.my-expertise-section .icon {
  font-size: 2rem;
}

.my-expertise-section .image-container {
  margin-top: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  top: -70px;
  position: relative;
}

.my-expertise-section .background-image {
  max-width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .my-expertise-section .title {
    font-size: 2.5rem;
  }

  .my-expertise-section .box {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 25px;
  }

  .my-expertise-section .box h3 {
    font-size: 1.2rem;
  }  

  .my-expertise-section .box .header .icon {
    font-size: 2rem;
  }

  .line-with-text {
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .my-expertise-section .title {
    font-size: 2rem;
  }

  .my-expertise-section .box .header .icon {
    font-size: 1.6rem;
  }
}